body {
  overflow: hidden;
  background-image: url(static/backneon1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  margin: 0;
  backdrop-filter: blur(20px);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.core {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.cell.top {
  border-top: 1px solid rgb(255, 255, 255);
}

.cell.bottom {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.cell.left {
  border-left: 1px solid rgb(255, 255, 255);
}

.cell.right {
  border-right: 1px solid rgb(255, 255, 255);
}

.cell:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 30px rgb(255, 255, 255);
  color: rgba(255, 170, 0, 0.7);
}

.cell.hovered {
  background-color: rgba(255, 255, 255, 0.3);
}

.same-value {
  color: rgb(229, 129, 62);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.button:active {
  transform: scale(0.95);
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#resultMessage {
  font-size: 18px;
  margin: 10px 0;
  color: #555;
}

#popup button {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#popup button:hover {
  background-color: black;
  color: white;
}

.timer {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.restart-button button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-image: url(static/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  font-size: 24px;
  padding: 0;
  transition: transform 0.3s ease;
}

.restart-button button:hover {
  transform: scale(1.1);
}

#popup {
  display: none; 
  position: fixed; 
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.7);
}

#popup.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  border-radius: 10px;
  text-align: center;
}

.difficulty {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.leaderboard {
  margin-top: 20px;
}

.leader-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.leader-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.leader-number {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.leader-name {
  flex-grow: 1;
}


@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(9, 45px);
  }

  .cell {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 36px;
  }

  .button {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(9, 40px);
  }

  .cell {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
  }

  .button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(9, 35px);
  }

  .cell {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 28px;
  }

  .button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(9, 30px);
  }

  .cell {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
  }

  .button {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
  }
}
